<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link rel="stylesheet" type="text/css" href="userMenu.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="icon" href="../imagenes/lOGO-50PX.png" type="image/x-icon">
    <title>Menu De Usuario</title>
</head>
<body>
    <section class="conten-menu">
        <div class="menu">
            <img class="imagen-menu" src="../imagenes/aH-150px.png" alt="logo hotel alura">
            <div class="separador"></div>
            <nav>
                <ul>
                    <li>
                        <div class="menu-item">
                            <img class="icon-item" src="../imagenes/reservado.png" alt="icono de registro">
                            <a class="text-parrafo-menu" href="../registroDeReservas/registroDeReservas.html">Registro de Reservas</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <img class="icon-item" src="../imagenes/pessoas.png" alt="icono de busqueda">
                            <a class="text-parrafo-menu" href="">Busqueda</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <div class="header-menu">
                <div class="sub-title-header">
                    <h2 class="text-sub-title">Sistema De Reservas Hotel Alura</h2>
                </div>
                <div>
                    <h1 class="text-title">Hoy es 12/09/2022</h1>
                </div>
            </div>

            <div class="body-menu">
                <h2 class="text-sub-title" style="color: black;">Bienvenido </h2>
                <br>
                <p class="text-parrafo">Sistema de reserva de hotel. Controle y administre de forma óptima y fácil el flujo de reservas y de huespédes del hotel</p>
                <br>
                <p class="text-parrafo">Esta herramienta le permitirá llevar un control completo y detallado de sus reservas y huéspedes, tendrá acceso a herramientas especiales para tareas específicas como lo son:</p>
                <br>
                <ul>
                    <li class="text-parrafo">- Registro de Reservas y Huéspedes</li>
                    <br>
                    <li class="text-parrafo">- Edición de Reservas y Huéspedes existentes</li>
                    <br>
                    <li class="text-parrafo">- Eliminar todo tipo de registros</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>