<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="main.menu.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="imagenes/lOGO-50PX.png" type="image/x-icon">
    <title>Hotel Alura</title>
</head>
<body>
    <section class="section-recepcion">
        <div class="img-recepcion">
            <img class="image-recep" src="imagenes/menu-img.png" alt="Representación de atención en recepción">
        </div>
        <div class="div-button-login">
            <img class="imagen-hotel-alura" src="imagenes/aH-150px.png" alt="Logo del Hotel Alura">
            <button class="button-login" id="Login">
                <div>
                    <h1 class="title">
                        LOGIN
                    </h1>
                    <img class="image-login" src="imagenes/login.png" alt="Imagen de representación de una persona ">
                </div>
            </button>
        </div>
    </section>
</body>
<footer>
    <section class="footer-developer">
        <p>
            Desarrollado Por Aristobulo Briceño © 2023
        </p>
    </section>
</footer>
<script src="main.menu.js"></script>
</html>